<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"/>
    <link href="/build/assets/css/theme.css" rel="stylesheet" media="all">
    <link href='http://cobrand.ria.com/css/informer.css' rel='stylesheet' type='text/css'>


    <script src="cmApp/other/codrops/modernizr.custom.js" ></script>
    <script src="cmApp/other/codrops/classie.js" ></script>

</head>
<body ng-cloak>



<left-panel ng-if="!$user.is_guest"></left-panel>
<sign-in ng-if="$user.is_guest"></sign-in>

<div class="container ng-cloak" id="container">


    <div class="row">

        <div class="col col-lg-12" app-view-segment="0">

        </div>

    </div>
</div>

<script src="/bazalt.js"></script>
<!--script src="/bower_components/requirejs/require.js" data-main="cmApp/requireConfig"></script-->
<!--data-main="app/requireConfig"-->
<script src="/build/r.js" data-main="build/_cm_bootstrap"></script>
<!--script src="/build/_cm_bootstrap.js"></script-->
</body>
</html>