<div class="main-list-wrap">


    <div class="overlay-box1" style="z-index:100000;" loading-container="$loading"></div>




    <div ng-if="listData.data" class="list-box" ng-repeat="link in listData.data">
        <a href="/view?q={{link.link}}">
        <div class="data-block" id="{{link._id}}">

                <div class="list-name input-group-btn">

                    <div class="glyphicon glyphicon-time list-time"></div>
                    <div class="list-time">{{link.updated}}</div>
                    <div class="list-link text">{{link.link}}</div>
                </div>

        </div>
        </a>
    </div>
    <div ng-show="listData.data" class="paging">
        <nav>
            <pagination total-items="listData.total" items-per-page="radioModel" ng-model="bigCurrentPage" max-size="bigTotalItems" class="pagination-sm" boundary-links="true" rotate="false" num-pages="listData.pages"></pagination>
        </nav>

    </div>

    <div class="errorBox" ng-if="listData.data == undefined || listData.data.length == 0">
        {{ listData.message || 'Данних не знайдено'}}
    </div>
</div>