<div class="main-list-wrap">


    <div class="overlay-box1" style="z-index:100000;" loading-container="$loading"></div>

    <div  class="progress-button hide">

        <button><span>Submit</span></button>

        <svg id="progress-circle" class="progress-circle" width="70" height="70">
            <path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/>
        </svg>
        <!-- checkmark to show on success -->
        <svg class="checkmark" width="70" height="70">
            <path d="m31.5,46.5l15.3,-23.2"/>
            <path d="m31.5,46.5l-8.5,-7.1"/>
        </svg>

        <!-- cross to show on error -->
        <svg class="cross" width="70" height="70">
            <path d="m35,35l-9.3,-9.3"/>
            <path d="m35,35l9.3,9.3"/>
            <path d="m35,35l-9.3,9.3"/>
            <path d="m35,35l9.3,-9.3"/>
        </svg>
    </div>

    <div ng-if="listData.data" ng-class="{'largebox':link.updated}" class="list-box" ng-repeat="link in listData.data">

        <div class="data-block" id="{{link._id}}">

            <div class="updated-link" ng-if="link.updated">
                <div class="glyphicon glyphicon-time list-time" style="padding-right: 5px !important;"></div>
                <div class="list-time">{{link.updated}}</div>
            </div>

            <div class="list-name input-group-btn">

            <input savable class="form-control inputbox middle" type="text" ng-model="link.name" value="{{link.name}}"></div>
            <div class="list-link text">{{link.link}}</div>

            <div class="list-op text" ng-if="link.hasChilds"><a href="/childs/{{link.project}}?parent={{link._id}}" title="childs"><div class="op-icon glyphicon glyphicon-folder-open"></div></a></div>
            <div class="list-op text"><a href="/view?q={{link._id}}" title="view"><div class="op-icon glyphicon glyphicon-zoom-in"></div></a></div>

        </div>
    </div>
    <div ng-show="listData.data" class="paging">
        <nav>
            <pagination total-items="total" items-per-page="radioModel" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="listData.pages"></pagination>
            {{total}}
            <div class="btn-group list-count">
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'10'">10</label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'50'">50</label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'100'">100</label>
            </div>
        </nav>


    </div>

    <div class="errorBox" ng-if="listData.data == undefined || listData.data.length == 0">
        {{ listData.message || 'Данних не знайдено'}}
    </div>
</div>