<div class="main-list-wrap">
    <div class="list-box" ng-repeat="link in list">
        <div class="data-block" id="{{link.id}}">
            <div class="list-name input-group-btn"><input class="form-control inputbox middle" type="text" value="{{link.name}}"></div>
            <div class="list-link text">{{link.link}}</div>
            <div class="list-op text"><a href="/view/{{link.id}}">Перегляд</a></div>
            <div class="list-op text" ng-if="!link.parent"><a href="/childs/{{link.id}}">Нащадки</a></div>
        </div>
    </div>
    <div class="paging">
        <nav>
            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
        </nav>
    </div>
</div>