<div class="overlay-box1" style="z-index:100000;" loading-container="$loading">
<h1><div class="view-link">{{doc.link}}</div></h1>

<div class="glyphicon glyphicon-floppy-save saveBtn" ng-show="dataCanSave" ng-click="saveData()"></div>

<div class="view-wrap">
    <ul class="nav nav-tabs">
        <li ng-hide="!doc.blocks[lang.name]" ng-repeat="lang in langs" role="presentation"  ng-class="{'active': selectedLang == lang}" ><a ng-class="{'errors-has': lang.$error > 0}" ng-click="langSelect(lang)" href="javascript:void(0)">{{lang.name}}</a></li>
    </ul>
</div>

<div class="content" ng-repeat="lang in langs" ng-show="selectedLang == lang">
    <div class="col col-lg-9">
        <div class="form-group has-feedback">
            <label class="control-label" for="title_{{lang.id}}">Title</label>

            <textarea changeble="checkData(items, lang, callback)" ng-model="doc.blocks[lang.name].title" symbols-left="55" class="form-control inputbox" id="title_{{lang.id}}" lang="{{lang.name}}" aria-describedby="inputWarning2Status" rows="4">

            </textarea>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label" for="description_{{lang.id}}">Description</label>

            <textarea changeble="checkData(items, lang, callback)" ng-model="doc.blocks[lang.name].description" symbols-left="156" class="form-control inputbox" id="description_{{lang.id}}" lang="{{lang.name}}" aria-describedby="inputWarning2Status" rows="6">

            </textarea>
        </div>


        <div class="form-group has-feedback">
            <label class="control-label" for="h1_{{lang.id}}">H1</label>

            <textarea ng-model="doc.blocks[lang.name].h1" changeble="checkData(items, lang, callback)" class="form-control inputbox" id="h1_{{lang.id}}" lang="{{lang.name}}" aria-describedby="inputWarning2Status" rows="5">

            </textarea>
        </div>


        <div class="form-group has-feedback">
            <label class="control-label" for="seo_title_{{lang.id}}">Seo Title</label>

            <input changeble="checkData(items, lang, callback)" class="form-control inputbox" id="seo_title_{{lang.id}}" lang="{{lang.name}}" aria-describedby="inputWarning2Status" ng-model="doc.blocks[lang.name].seotitle" type="text"/>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label" for="seo_text_{{lang.id}}">Seo Text</label>

            <textarea ng-model="doc.blocks[lang.name].seotext" changeble="checkData(items, lang, callback)" class="form-control inputbox" id="seo_text_{{lang.id}}" lang="{{lang.name}}" aria-describedby="inputWarning2Status" rows="9">

            </textarea>
        </div>


        <div class="form-group has-feedback">
            <label class="control-label" for="semantic">Есть СЯ</label>

            <input ng-model="doc.semantic" class="form-control inputbox" id="semantic" aria-describedby="inputWarning2Status" type="checkbox" />


        </div>

        <div class="form-group rewrites">
            <label class="control-label">Slangs</label>

            <div style="padding-bottom: 20px">
                <div class="rewrite" ng-repeat="rewrite in doc.rewrites" ng-click="removeRewrite(rewrite)">{{rewrite}}</div>
            </div>
            <div>
                <input class="form-control inputbox add-rewrite" type="text" ng-init="rewriteItem" ng-model="rewriteItem"/><div class="glyphicon glyphicon-plus-sign add-project-btn-sm text-success" ng-click="addRewrite(rewriteItem)"></div>
            </div>
        </div>
    </div>

    <div class="col col-lg-3 variables">

        <div ng-if="variables">

            <div class="overlay-box1" style="z-index:100000;" loading-container="varsLoading"></div>

            <div class="form-group has-success has-feedback variables-block">
                <label class="control-label" for="vars_{{lang.id}}">Variables</label>

                <div contenteditable="true"  id="vars_{{lang.id}}" class="form-control inputbox variables-textbox" ng-focus="slideIn(lang)" ng-blur="slideOut(lang)" aria-describedby="inputWarning2Status" rows="27">
                    <div class="variable-names" ng-repeat="var in doc.vars">{{ var }}</div>
                </div>
            </div>

            <div class="passive view-variables" id="view-variables-{{lang.id}}">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-success inputbox" ng-repeat="(variable,varIndex) in varsRewrites" ng-click="selectVars(variable)">{{varIndex}} - {{variable}}</button>
                </div>
            </div>
        </div>

        <div class="info" ng-if="!variables">
            No variables for current link
        </div>
    </div>




</div>

<div class="form-group">
    <button type="submit" class="save-btn form-control inputbox btn-success" ng-click="saveData()">Save</button>
</div>

</div>