<div loading-container="$loading">
<form class="content" method="POST" enctype="multipart/form-data">

    <div class="form-group has-feedback">
        <div class="inline">
            <select width="200px" ng-model="doc.rubric" name="rubrics" class="form-control inputbox" ng-options="rubric.name for rubric in rubrics track by rubric.id"></select>
        </div>
        <div class="inline">
            <select width="200px" ng-model="doc.author" name="author" class="form-control inputbox" ng-options="author.name for author in authors track by author.id"></select>
        </div>
    </div>

    <div class="form-group has-feedback">
        <div class="publication-date check">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="doc.publication.doctype" value="deferred">
                    Отложення публикация
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="doc.publication.doctype" value="past">
                    Публикация прошедшим числом
                </label>
            </div>
        </div>
        <div class="publication-date datepick">
            <div class="date-item datepick">
                <p class="input-group">
                    <input type="text" class="form-control inputbox" datepicker-popup="{{format}}" ng-model="doc.publication.date" is-open="opened" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                            <button type="button" class="btn btn-default inputbox" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                </p>
            </div>
            <div class="date-item timepick">
                <timepicker class="inputbox" ng-model="doc.publication.time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <hr/>

    <div class="form-group has-feedback" ng-class="{'has-error':errors['title']}">
        <input placeholder="title" type="text" ng-model="doc.title" name="title" class="form-control inputbox" aria-describedby="inputWarning2Status"/>

        <div class="error-mess">
            <p ng-repeat="error in errors['title']">{{error}}</p>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':errors['description']}">
        <textarea placeholder="description" ng-model="doc.description" name="description" class="form-control inputbox" aria-describedby="inputWarning2Status" rows="3" fixed></textarea>
        <div class="error-mess">
            <p ng-repeat="error in errors['description']">{{error}}</p>
        </div>
    </div>
    <div class="form-group has-feedback" >
        <input placeholder="H1" type="text" ng-model="doc.h1" name="h1" class="form-control inputbox" aria-describedby="inputWarning2Status"/>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':errors['url']}">
        <span class="glyphicon glyphicon-link"></span><input placeholder="post src" type="url" ng-model="doc.url" name="url" class="form-control inputbox" aria-describedby="inputWarning2Status"/>
        <div class="error-mess">
            <p ng-repeat="error in errors['url']">{{error}}</p>
        </div>
    </div>


    <div class="form-group has-feedback">
        <div ng-hide="doc.img.src" id="imgPreview" class="grid__item" style="position: relative;">
            <i class="icon icon-camera icon-left-panel"></i>
        </div>
        <div ng-show="doc.img.src" class='img-preload' ng-init="imgSrc"><img class="img-preloaded" width="{{doc.img.width}}" height="{{doc.img.height}}" id='preloaded' src='{{doc.img.src}}'/></div>


        <div class="addImageBlock" loading-container="fileLoading">
            <div class="form-group has-feedback " ng-class="{'has-error':errors['img']}">
                <input placeholder="img src" ng-disabled="fileLoading" type="text" id="preloadedImg" needed ng-model="doc.img.src" name="imgSrc" class="img-loader-input form-control inputbox" aria-describedby="inputWarning2Status"/>
                <input file-input="files" type="file" name="files[]" id="filedata" preloader-img="preloadedImg" class="form-control inputbox img-loader-input" aria-describedby="inputWarning2Status"/>
            </div>

            <div class="form-group has-feedback ">
                <input placeholder="img title" type="text" ng-model="doc.img.title" name="imgTitle" class="form-control inputbox" aria-describedby="inputWarning2Status"/>
            </div>
            <div class="form-group has-feedback ">
                <input placeholder="img alt" type="text" ng-model="doc.img.alt" name="imgAlt" class="form-control inputbox" aria-describedby="inputWarning2Status"/>
            </div>

            <div class="form-group has-feedback ">
                <input placeholder="width" class="form-control inputbox add-img-params" type="number" ng-model="doc.img.width"/>
                <input placeholder="height" class="form-control inputbox add-img-params" type="number" ng-model="doc.img.height"/>
            </div>
        </div>

        <div class="error-mess">
            <p ng-repeat="error in errors['img']">{{error}}</p>
        </div>
    </div>

    <informer info="post.informer"></informer>

    <!--div class="form-group has-feedback" ng-class="{'has-error':errors['text']}">
        <textarea id="trumbowyg" trumbowyg-editor placeholder="text" ng-model="doc.text" needed name="text" class="form-control inputbox" aria-describedby="inputWarning2Status" rows="8"></textarea>
        <div class="error-mess">
            <p ng-repeat="error in errors['text']">{{error}}</p>
        </div>
    </div>

    <wysiwyg textarea-id="question" textarea-class="form-control"  textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="doc.text"></wysiwyg-->

    <!--div id="edit" class="custom-theme"></div-->
    <textarea id="edit" editable class="custom-theme" ng-model="doc.text" name="content"></textarea>


    <!--textarea class="form-control inputbox" id="tiny"></textarea-->

    <div class="form-group rewrites">

        <div style="padding-bottom: 20px">
            <div class="rewrite" ng-repeat="tag in doc.tags" ng-click="removeTag(tag)">{{tag}}</div>
        </div>
        <div>
            <input placeholder="tag" class="form-control inputbox add-rewrite" type="text" ng-init="tagItem" ng-model="tagItem"/><div class="glyphicon glyphicon-plus-sign add-project-btn-sm text-success" ng-show="tagItem.length > 0" ng-click="addTag(tagItem)"></div>
        </div>
    </div>


    <hr/>

    <div class="form-group has-feedback">
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="doc.doctype" value="draft"> Черновик
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="doc.doctype" value="planned"> Запланировать
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" ng-model="doc.doctype" value="was_planned"> Было опубликовано
        </label>
    </div>

    <div class="new-label">Email рассылка <div class="text-success sended" ng-show="doc.sended">отправлено</div></div>
    <div id="emailsToSend" class="emails-to-send-block" ng-class="{'disabled': doc.sended}">
        <div ng-repeat="email in doc.sendTo" ng-click="removeEmail(email)">{{email}}</div>
        <input type="email" placeholder="добавить" id="add-email"/>
    </div>


    <div class="form-group has-feedback">
        <button class="btn btn-success inputbox" ng-click="docSave()">Сохранить</button>
    </div>

</form>
</div>

