<div class="search-box">
    <input type="text" placeholder="поиск" ng-model="tableParams.q" class="searchbox head-page" searchable="search()"/>
</div>
<div loading-container="tableParams.settings().$loading">
    <table ng-table="tableParams" class="table-new">
        <tbody>
        <tr ng-repeat="post in $data">

            <td data-title="'Заголовок'" sortable="'couchbaseDocument.doc.title'">
                <a href="/post/add/{{post._id}}" class="glyphicon glyphicon-pencil permission-add" title="редактировать"></a>
                <a href="{{post.url}}" target="_blank"><span>{{post.title}}</span></a>
            </td>
            <td data-title="'Показы'" sortable="'couchbaseDocument.doc.statistic.shows'">
                <span>{{post.statistic.shows || 0}}</span>
            </td>
            <td data-title="'Комментарии'" sortable="'couchbaseDocument.doc.statistic.comments'">
                <span>{{post.statistic.comments || 0}}</span>
            </td>
            <td data-title="'Переходов информера'" sortable="'couchbaseDocument.doc.statistic.informerShows'">
                <span>{{post.statistic.informerShows || 0}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

