html, body, .container {
    height: 100%;
}

.trumbowyg-box, .trumbowyg-editor {
    width: 100% !important;
}

.pushed.container {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    content: " ";
    background-color: white;
    opacity: 0.5;
}


.container {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
    width: 80% !important;
}

.icon-left-panel {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
}

a.disabled {
    pointer-events: none;
}

.bz-loading-container .bz-loading:before {
    background-color: #FFF;
    opacity: .7;
    z-index: 99999;
}

 .bz-loading-container .bz-loading:before, .bz-loading-container .bz-loading:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-height: 200px;
    min-width: 50px;
    margin-right: 10px;
     z-index: 99999;
}

.bz-loading-container .bz-loading:after {
    background-image: url(/build/assets/img/loader/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
}

.op-icon {
    font-size: 18px;
}

.loading-text {
    position: absolute;
    top: 40%;
    left: 32%;
    font-size: 23px;
    color: #808084;
}

.head-page {
    margin-left: 20px;
    margin-top: 10px;
}

.upload-box {
    margin: 10px 0px 10px 0px;
}

.little-text {
    font-size: 12px;
    padding-left: 10px !important;
}

.upload-box .item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtop {
    margin-top: 20px;
}

.list-grey{

}

.list-op.text {
    float: right;
}

.container {
    width: 1200px;
}

.line-counter {
    padding-right: 12px;
    font-weight: bold;
}

li.danger {
    background: #fddfde;
    color: #8a1f11;
    margin-right: 25px;
}

.font12 {
    font-size: 12px;
}

.basic-data-left {
    margin-left: 0px !important;
    border-left: 1px dotted #d9d9d9;
}

.overlay-box {
    overflow-y: overlay;
    overflow-x: hidden;
    max-height: 400px;
    padding-right: 10px !important;
    min-height: 200px;
}

.head-link {
    font-size: 16px !important;
    line-height: 24px;
}

links-list {
    min-height: 200px;
}

.no-data {
    font-size: 32px;
    opacity: 0.3;
    position: relative;
    display: block;
}

.counter{
    margin: 10px 10px 0 0;
    font-size: 22px !important;
    line-height: 20px;
}

.search-item {
    font-size: 19px;
    line-height: 22px;
    min-width: 270px;
    padding: 0px 4px 0px 20px !important;
    color: #464545 !important;
}

.project-item{
    font-size: 18px;
    line-height: 12px;
    min-width: 180px;
    color: #464545 !important;
}

.dropdown-menu li:hover {
    background: #EEEEEE;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 280px;
}

hr{
    margin: 12px 0;
}

.add-project {
    position: fixed;
    top: 80px;
    right: 120px;
    font-size: 32px;
    margin: 20px;
    opacity: 0.4;
    cursor: pointer;
}

.add-project-block {
    font-size: 17px;
    position: fixed;
    top: 90px;
    right: 180px;
    background: #ffffff;
    border: 1px solid #ddd;
    line-height: 12px;
    z-index: 1000;
    max-width: 220px;
}
.add-project-block label{
    color: #464545 !important;
    opacity: 1;
}.add-project-block input{
    color: #464545 !important;
    opacity: 1;
}

.grid-span2 .input, .grid-span2 .select, .grid-span2 .indent {
    margin-left: 10px !important;
    margin-right: 10px;
}


.morph-content .span3 {
    width: 46%;
}

.morph-content .span6 {
    width: 48%;
}

select.span3 {
    width: 190px;
}
.grid-form .label {
    margin-left: 5px;
    width: 100px;
}

.add-project-btn {
    margin: 0 10px 10px 0;
}

.add-project-btn-sm {
    font-size: 16px;
    opacity: 0.6;
    padding-left: 10px;
    cursor: pointer;
}
.add-project-btn-sm:hover {
    opacity: 1;
}

.ng-scope th.ng-binding {
    display: table-cell;
    width: auto;
    height: auto;
    vertical-align: inherit;
    background-color: #868686;
    color: white;
    border: none;
    padding: 12px 15px;
    font-weight: bold;
}

.packet-notifications {
    margin: 0;
}

.leaf {
    line-height: 18px;
    margin-top: 0;
    font-size: 16px !important;
    margin-left: 10px;
    padding-top: 0px !important;
}

.branch {
    padding-bottom: 5px;
}

.li:hover .div .span{
    opacity: 1;
}

.branch-op {
    display: inline-block;
    padding-left: 30px;
}

.branch-op span {
    opacity: 0.2;
    cursor: pointer;
}

.branch-op span:hover {
    opacity: 1;
}

.save {
    font-size: 20px;
    margin-right: 10px;
    opacity: 0.8;
    cursor: pointer;
}

.deleting {
    position: fixed;
    top: 50px;
    left: 43%;
    font-size: 28px;
    background: white;
    padding: 30px;
    content: " ";
    opacity: 0.9;
    color: #a94442 !important;
    z-index: 100000;
}

.success {
    color: #3c763d !important;
    top: 120px;
}

.bold {
    font-weight: bold;
}

.upload {
    font-size: 45px;
    /* margin: 20px; */
    opacity: 0.6;
    cursor: pointer;
    background: beige;
    padding: 77px;
    width: 200px !important;
    height: 200px;
}
.upload:hover {
    opacity: 1;
}

.font-danger {
    color:#a94442 !important;
}

.top-icon {
    font-size: 20px;
}

.info-step {
    height: 40px;
    padding-top: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

svg.line-graph text {
    cursor: default;
}

svg .hover-line {
    stroke: #B3C7E0;
}

svg.line-graph .hide {
    opacity: 0;
}

svg.line-graph .axis {
    shape-rendering: crispEdges;
}

svg.line-graph .x.axis line {
    stroke: #D3D3D3;
}

svg.line-graph .x.axis .minor {
    stroke-opacity: .5;
}

svg.line-graph .x.axis path {
    display: none;
}

svg.line-graph .x.axis text {
    font-size: 10px;
}

svg.line-graph .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

svg.line-graph .y.axis text {
    font-size: 12px;
}

svg.line-graph .scale-button:not(.selected):hover {
    text-decoration: underline;
    cursor: pointer !important;
}

svg.line-graph .date-label {
    fill: #6E7B8B;
}


.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-striped .progress-bar, .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}

path.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

.area {
    fill:#96D6EB;
    opacity: 0.3;
}

.preview-graph-form {
    background-image: -webkit-repeating-linear-gradient(0deg, #ededed, #ededed 1px, transparent 1px, transparent 20px), -webkit-repeating-linear-gradient(270deg, #ededed, #ededed 1px, transparent 1px, transparent 20px);
    background-image: repeating-linear-gradient(0deg, #ededed, #ededed 1px, transparent 1px, transparent 20px), repeating-linear-gradient(90deg, #ededed, #ededed 1px, transparent 1px, transparent 20px);
    background-color: #f8f8f8;
    -webkit-background-size: 15px 15px, 15px 15px;
    background-size: 15px 15px, 15px 15px;
}

.first-item-btn-group {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px !important;
}

.count-graph-left {
    width: 400px;
    float: left;
}

.count-graph-right {
    margin-left: 420px;
    margin-top: -60px;
}

.inputbox {
    font-family: caecilia, times, serif !important;
    font-size: 16px !important;
    -webkit-font-smoothing: antialiased;
    /*border: none;
    //box-shadow: none;*/
    height: 40px;
    border-radius: 0 !important;
}


.list-box {
    cursor: pointer;
    margin: 0 auto;
    text-align: left;
    /*height: 65px;*/
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
    border-bottom: 1px solid #E0DFDF;
}

.list-box:hover {
    background-color: rgba(150, 219, 175, 0.9);
    transition: background-color 0.2s ease-in-out;
}

.data-block {
    margin: 15px 10px 10px 0px;
    left: 24px;

    overflow-wrap: break-word;
    position: relative;
    right: 24px;

    word-wrap: break-word;
    display: table;
    width: 100%;
}

.child-info {
    margin: 10px 5px 10px 25px;
    font-family: 'Open-Sans';
    font-size: 13px;
    color: #337ab7;
    text-transform: capitalize;
}
.child-info div {
    display: inline-block;
    padding-right: 25px;
}
.child-info span.available {
    font-size: 13px;
    padding: 2px 0 0 3px;
}

input.middle {
    width: 300px;
}

.data-block div{
    display: table-cell;
    padding-right: 20px;
}

.data-block .text {

    max-width: 400px;
    font-family: "Open Sans";
    font-size: 16px;
}

.data-block .list-date{
    -webkit-font-smoothing: antialiased;
    font-family: gotham, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #878787;
    font-size: 14px;
    display: block;
    padding-top: 5px;
}

.data-block .list-title {
    color: #4a4a4a;
    line-height: 18px;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 16px;
    display: inline;
}
.data-block span{
    font-family: caecilia, times, serif;
    font-weight: 400;
}
.list-box:hover .data-block span {
    color: #fff;
}

.list-status {
    font-size: 16px;
    padding: 10px;
    display: inline-block;
    margin-right: 16px;
}

.list-status.error {
    color: #ff4112;
}
.list-status.ok {
    color: #2BB55C;
}

p.list-group {
    display: inline-block;
    padding-right: 15px;
}
.list-group span {
    display: inline;
}
.list-group .list-rank{
    -webkit-font-smoothing: antialiased;
    font-family: gotham, helvetica, arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2d8713;
    font-size: 16px;
    display: inline;
}

list-keys {
    display: block;
    padding-top: 20px
}

.point {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
    transition: opacity 0.6s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.point.active {
    stroke: #53b465;
}

.infoboxData .date {
    -webkit-font-smoothing: antialiased;
    font-family: gotham, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    fill: #878787;
    display: block;
    padding-top: 5px;
}

.infoboxData .rank {
    fill: #53b465;
    line-height: 18px;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 32px;
    display: inline;
    font-family: caecilia, times, serif;
    font-weight: 400;
}

.infoboxData .count {
    fill: #878787;
    line-height: 18px;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 18px;
    display: inline;
    font-family: caecilia, times, serif;
    font-weight: 400;
}

svg:not(:root) {
    overflow: visible;
}

.projectBlock img {
    width: 200px;
}

.projectChoose {
    display: inline-block;
    width: 100%;
}

.projectBlock {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 40px 0;
    transition: all .2s ease-out;
}

.projectBlock:hover {
    box-shadow: 2px 3px 3px 2px #888888;
}

.errorBox {
    margin: 100px auto;
    text-align: center;
    font-size: 26px;
    color: #e75854;
}

.view-wrap ul {
    margin: 40px 0px 0px 0px;
}

.nav-tabs li a {
    border-radius: 0 0 0 0 !important;
}

.input {
    font-family: caecilia, times, serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    /*border: none;
    //box-shadow: none;*/
    height: 40px;
    border-radius: 0;
}

.box {
    transition: height 0.2s ease-in-out, border linear 0.2s;
    height: 61px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}


.nobtn-default.ng-hide {
    visibility:hidden;
}

.nobtn-default {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.4;
    visibility: visible;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.nobtn-default:hover {
    opacity: 1;
}

.search {
    margin-right: 20px;
    position: relative;
}
.search-icon {
    position:absolute  !important;
    right:1px;
    top:1px;
    padding:11px;
    overflow:hidden;
    background: #fff;
    width: 38px !important;
    height: 38px;
}


.content {
    margin: 50px 0 0 0;
    width: 100%;
}

.content div.col {
    padding-left: 0;
}


.passive:hover {
    opacity: 1;
    cursor: pointer;
}

.passive {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.view-variables {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    height: 500px;
    overflow-y: scroll;
}
.variables-block {
    z-index: 10;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.list-count {
    float: right;
    margin-top: 15px;
}
.list-time {
    display: block;
    font-size: 13px;
    color: dodgerblue;
    padding-right: 10px !important;
}

.all-childs-count {
    font-size: 14px;
    color: rgba(45, 135, 19, 0.84);
    font-weight: bold;
}
.childs-count{
    /*color: rgb(255, 107, 0);*/
    font-weight: bold;
}


.symbolsLeft {
    font-size: 11px;
    color: cornflowerblue;
}
.symbolsLeft.red {
    color: #d85442;
}

.save-btn {
    width: 200px !important;
    clear: both;
}

.variables {
    position: relative;
}

.saveBtn {
    position: fixed !important;
    font-size: 36px;
    color:#008000;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    left: 25px;
    top: 100px !important;
}
.saveBtn:hover {
    opacity: 1;
    cursor: pointer;
}

.error-mess {
    color: #8a1f11;
    font-size: 12px;
}

.errors-has {
    background: antiquewhite;
}

.robots-block {
    padding: 20px 0 0 0 !important;
}

.variables-textbox {
    min-height: 720px;
}
.variable-names {
    display: table;
    font-size: 18px;
    margin: 10px;
    padding: 2px 4px;
    color: #1F6264;
    background-color: #F2F8F9;
    white-space: nowrap;
    border-radius: 1px;
}

.view-link{
    color: #1F6264;
}

h1 {
    font-size: 30px;
}

.nav-seo {

}

.navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #93C795 !important;
    color: #000011;
}

.pagination>li>a, .pagination>li>span {
    padding: 5px 10px !important;
}




.progress-button button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 70px;
    border: 2px solid #1ECD97;
    border-radius: 40px;
    background: transparent;
    color: #1ECD97;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.7s, background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: all 0.7s, background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    position: fixed;
    right: 19px;
    top: 70px;
    z-index: 10000;
}


.progress-button svg {
    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    top: 70px;
    right: -15px;
    z-index: 10000;
}

.progress-button svg path {
    opacity: 0;
    fill: none;
}

.success.progress-button button {
    border-color: #1ECD97;
    background-color: #1ECD97;
}

.error.progress-button button {
    border-color: #FB797E;
    background-color: #FB797E;
}

.progress-button svg.progress-circle path {
    stroke: #1ECD97;
    stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.loading.progress-button button {
    width: 70px; /* make a circle */
    border-width: 5px;
    border-color: #ddd;
    background-color: transparent;
    color: #fff;
}

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
    opacity: 1;
    -webkit-transition: stroke-dashoffset 0.3s;
    transition: stroke-dashoffset 0.3s;
}

.elastic.progress-button button {
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1), border-width 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}

.loading.elastic.progress-button button {
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, 0, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}




.add-project-btn-sm {
    font-size: 16px;
    opacity: 0.6;
    padding-left: 10px;
    cursor: pointer;
}
.add-project-btn-sm:hover {
    opacity: 1;
}
.add-rewrite {
    display: inline-block !important;
    width: 100px !important;
}
.add-rewrite-btn {
    display: inline-block !important;
    padding-left: 10px;
}

.rewrite {
    padding: 5px;
    display: inline-block;
    margin: 5px;
    background-color: #009998;
    cursor: pointer;
    color: #fff;
}

.rewrite:hover {
    background-color: #138999;
}

.updated-link {
    text-align: right;
    float: right;
    clear: right;
    padding-right: 0px !important;
}

.list-box.largebox {
    height: 85px !important;
    background-color: rgba(10, 204, 92, 0.2);
}

.list-box.largebox:hover {
    background-color: rgba(10, 204, 92, 0.5);
}

.top-icon span {
    padding-left: 5px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.grid__item {
    display: inline-block;
    margin: 0.2em 0.1em;
    padding-top: 2.25em;
    width: 5.5em;
    height: 5.5em;
    font-size: 2em;
    border-radius: 1px;
    background: #f4a8a8;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.addImageBlock {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 6px;
}

.morph-content {
    z-index: 99999;
}
.icon-settings-btn {
    position: fixed;
    top: 10px;
    left: 10px !important;
}
.icon-settings {
    height: 65px;
}

.add-img-params {
    width: 100px !important;
    margin-right: 10px !important;
    display: inline-block !important;
}

.add-img {
    width: 200px;
    height: 200px;
}

.img-preload {
    display: inline-block;
    max-width: 600px;
}

.img-preloaded {
    max-width: 1000px  !important;
    max-height: 1000px  !important;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: inline-block;
    border-radius: 1px;
}

.img-loader-input {
    display: inline-block !important;
    width: 49%  !important;

}
.img-loader-input:nth-child(1) {
   padding-right: 10px  !important;
    width: 50%  !important;
}

.publication-date {
    display: inline-block;
    width: 49%;
}

.publication-date.datepick {
    float: right;
}

.date-item {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}
.date-item.datepick {
    margin-top: 15px;
}
.datepick td{
    width: 0px !important;
}
.timepick button{
    padding: 7px 7px 8px 7px !important;
}


.table-new {
    margin-top: 30px;
}
.table-new .header {
    display: table-cell;
    width: auto;
    height: auto;
    vertical-align: middle;
}
.table-new td {
    text-align: left;
    vertical-align: middle;
    padding: 5px 5px 5px 10px;
}
.table-new td:hover {
    cursor: pointer;
    background-color: rgba(145, 153, 141, 0.10);
}

.table-new .plan {
    background-color: rgba(19, 137, 153, 0.22);
}

.table-new tr.draft:hover {
    cursor: pointer;
    background-color: rgba(145, 153, 141, 0.10);
}
.table-new a {
    display: table-cell;
    padding: 5px;
}

.ng-valid-date {
    min-height: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    box-shadow: none;
}

.morph h2 {
    font-size: 3.5em !important;
}

.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}

.loading-container .loading:before {
    background-color: #FFF;
    opacity: .7;
    z-index: 99999;
}

.loading-container .loading:after {
    background-image: url(/build/assets/img/loader/preloader_cm.gif);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
}

.inline {
    display: inline-block;
    width: 40%;
}
.inline:nth-child(2) {
    float: right;
    clear: right;
}

/* SEARCH */
.search-box {
    margin: 30px auto;
}
.search-box input {
    font-family: "SegoeUI-Light",sans-serif !important;
    font-weight: 300;
    font-size: 2em;
    margin: 0px;
    color: #BB4445;
}
.searchbox {
    border: none !important;
    font-size: 24px !important;
    font-family: "SegoeUI-Light",sans-serif;
    color: #464545;
    text-rendering: geometricprecision;
}

.add-user-btn {
    position: fixed;
    left: 10px;
    top: 80px;
}

.users {
    margin-top: 30px;
}

.auth-btn {
    position: fixed;
    left: 10px !important;
    top: 10px;
}

sign-in h2 {
    font-size: 28px !important;
    color: #f9f6e5 !important;
}

sign-in form button {
    background: #f9f6e5 !important;
    color: #e75854 !important;
}

sign-in input {
    color: #f9f6e5 !important;
}

sign-in .error-message {
    font-size: 12px;
    color: #f9f6e5;
}

.content-style-form select {
    padding: 10px;
    width: 100%;
    border: 2px solid #ebd3bd;
    background: transparent;
    color: #b09a86;
    font-weight: 300;
    font-size: 2.2em;
}

.content-style-sidebar select {
    padding: 5px;
    width: 70%;
    border: none;
    background: transparent;
    color: #b09a86;
    font-weight: 100;
    font-size: 1.2em;
}

.morph-button h2 {
    font-family: "SegoeUI-Light",sans-serif;
}

.post-block .post-title {
    display: inline-block;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.79);
    line-height: 22px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.post-block {
    line-height: 22px;
    text-align: left;
}

.morph-block {
    width: 100% !important;
    height: 100% !important;
    float: none;
}

.post-block div, .post-block p {
    line-height: 22px;
}

.riaBanner {
    position: relative;
    -moz-box-sizing: initial; /* Для Firefox */
    box-sizing: initial; /* Ширина блока с полями */
    -webkit-box-sizing: initial;
}

.preview {
    padding: 30px;
}

.preview-search-form {
    background-image: -webkit-repeating-linear-gradient(45deg, #ededed, #ededed 1px, transparent 1px, transparent 10px),-webkit-repeating-linear-gradient(315deg, #ededed, #ededed 1px, transparent 1px, transparent 10px);
    background-image: repeating-linear-gradient(45deg, #ededed, #ededed 1px, transparent 1px, transparent 10px),repeating-linear-gradient(135deg, #ededed, #ededed 1px, transparent 1px, transparent 10px);
    background-color: #f8f8f8;
    -webkit-background-size: 15px 15px,15px 15px;
    background-size: 15px 15px,15px 15px;
}

.trumbowyg-upload-button {
    background-position: 5px -20px;
}

.content-style-sidebar ul.child-block {
    -webkit-transition: -webkit-display 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
    transition: display 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
    padding-left: 20px;
}

.homepage-lock {
    margin: 200px 45%;
    font-size: 45px;
    color: #91998d;
    opacity: .3;
    text-align: center;
}


.homepage-lock p{
    font-family: "SegoeUI-Light",sans-serif;
    font-size: 28px;
    display: inline-block;
    text-align: left;
}

.dashboard-posts .post {
    font-family: "SegoeUI-Light",sans-serif;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 13px;
}
.dashboard-posts .post span {
    display: block;
    font-size: 15px;
}
.dashboard-posts .post .post-modified {
    color: rgba(21, 134, 151, 0.71);
    font-size: 11px;
}

.dashboard-posts .post:hover, .dashboard-posts .post:hover a  {
    background-color: rgba(209, 20, 40, 0.59);
    color: #FFFFFF;
    text-decoration: none;
}

.dashboard-statistic {

}

.grey-text {
    text-align: center;
    margin: 100px auto;
    font-size: 28px;
    font-family: "SegoeUI-Light",sans-serif;
    opacity: .6;
}

.change-board {
    position: absolute !important;
    top: 10px !important;
    left: 20px;
    font-size: 25px;
    cursor: pointer;
    z-index: 10000;
}

.rubric {
    display: inline-block;
    padding: 10px;
}
.rubric-name {
    color: rgba(21, 134, 151, 0.71) !important;
}
.add-pretitle {
    width: 70% !important;
    display: inline-block !important;
}
.pre-title {
    padding: 10px;
    width: 70%;
    background: #e75854;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.pre-title span {
    float: right;
    display: none;
}
.pre-title:hover span {
    display: inline-block;
}

.top-block .search-box{
    margin: 30px auto;
    float: left;
    width: 80%;
}

.top-block .form-group {
    float: right;
    margin: 30px auto;
}

.top-block {
    display: block;

}

.idea-block {
    display: block;
    margin-top: 20px;
}

.idea-pretitles span{
    display: block;
    padding: 10px 0;
}
.idea-desc {
    height: 100%;
    width: 100%;
}

.table-new .active {
    background-color: #e85657;
    color: #f9f6e5;
}
.table-new .active a, .table-new .active span{
    color: #f9f6e5 !important;
}

.datepicker-field button.btn-default {
    padding: 0px 2px !important;
    margin: 0 !important;
}

.datepicker-field ul.dropdown-menu {
    left: 0 !important;
    top: -200px !important;
    z-index: 999999;
    height: 284px;
    overflow: hidden;
}
.datepicker-group .datebtn {
    display: inline-block !important;
    margin-top: 0 !important;
    width: 40px !important;
}
.datepicker-group .inputbtn {
    display: inline-block !important;
    margin-top: -16px !important;
    width: auto !important;;
}
.datepicker-group {
    width: 280px !important;
}

.datepicker-group em, .datepicker-group small {
    color: #e85657;
}

.table-new .active span.icon-close {
    color: #e85657 !important;
}

.froala-box {
    padding: 10px 0;
}

tr.top-head-idea {
    background: cornsilk;
}


/* FILTER for search list*/
.search-filter-btn {

}

.grab-btn-icon {
    padding-right: 105px;
}
.grab-data-block {
    padding-top: 10px;
}
.grab-data-credents {
    padding: 20px 10px;
}
.close-filter {
    padding-right: 50px;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 16px;
    opacity: 0.6;
    cursor: pointer;
    color: #64697d;
}
.close-filter:hover {
    opacity: 1;
}
/* END */


.new-label {
    color: #746F67;
    font-size: 16px;
    font-family: 'Open-Sans';
    font-weight: 400;
}

.emails-to-send-block {
    border: 1px solid #746F67;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.emails-to-send-block div {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    padding: 5px;
    background: #5bc0de;
    background-color: #5bc0de;
    font-size: 11px;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
}

.emails-to-send-block input {
    width: auto;
    border: none;
    font-size: 14px;
}

div.disabled {
    content: " ";
    background-color: white;
    opacity: 0.5;
}

.sended {
    display: inline-block;
    font-size: 13px;
}

.permission-block {
    background: #e75854;
    color: #f9f6e5;
    padding: 5px;
    margin-bottom: 5px;
}
.permission-block:first-child {
    margin-bottom: 15px;
}
.permission-input {
    margin: 0 ;
}
.permission-form {
    height: 300px;
    overflow-y: auto;
}


/***  TEXTAREA IMPORT  ***/

/* TWITTER */
@media (min-width: 640px) {
    .aside-tweet {
        font-size: 1.5rem;
        margin: 30px auto;
    }

    .aside-tweet {
        background: rgba(0, 102, 204, .1);
        margin: 10px auto;
        max-width: inherit;
        padding: 10px 10px 10px 70px;
        position: relative;
    }
}
.aside-tweet svg {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
}
svg {
    display: block;
    overflow: hidden;
    -moz-transform: translate(0) !important;
}
.aside-tweet h3 {
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    padding: 0;
    margin-top: 0 !important;
}
.aside-tweet p {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
}
.aside-tweet a{
    color: rgb(0, 102, 204);
    font-family: "pt-serif-caption";
    text-decoration: none;
}
.aside-tweet img {
    position: absolute !important;
    left: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    padding: 0 !important;
}

.modal-body textarea, .modal-body input {
    width: 100%;
    padding: 5px;
}

.icon-operate {
    font-size: 16px;
    opacity: .6;
    padding: 0 7px;
}
.icon-operate:hover {
    opacity: 1;
}

.newCommentPin {
    background: #4cae4c;
    color: #fff0ff;
    font-size: 10px;
    position: absolute;
    padding: 0px 3px;
    font-weight: bold;
    left: -30px;
    border-radius: 1px;
}

