<div loading-container="$loading">

    <a href="/dashboard"><span class="change-board glyphicon glyphicon-list-alt"></span>
    </a>

    <div class="custom-header clearfix">
        <h2></h2>
        <h3 class="custom-month-year">
            <span id="custom-month" class="custom-month">{{settedDate | date:'MMMM'}}</span>
            <span id="custom-year" class="custom-year">{{settedDate | date:'y'}}</span>
            <nav>
                <span id="custom-prev" class="custom-prev" ng-click="calcDate('add')"></span>
                <span id="custom-next" class="custom-next" ng-click="calcDate('sub')"></span>
                <span id="custom-current" class="custom-current" ng-click="returnCurrent()" title="Got to current date"></span>
            </nav>
        </h3>
    </div>
    <div id="calendar" class="fc-calendar-container">
        <div class="fc-calendar fc-six-rows">
            <div class="fc-head">
                <div>Понедельник</div>
                <div>Вторник</div>
                <div>Среда</div>
                <div>Четверг</div>
                <div>Пятница</div>
                <div>Суббота</div>
                <div>Воскресенье</div>
            </div>
            <div class="fc-body" id="calendarBody">

                    <div ng-repeat="day in daysList" class="fc-row" ng-if="isRow($index)">

                        <div drag-target ng-repeat="dayItem in listSlice($index)" ng-class="{'fc-content':dayItem.value.length, 'fc-today':dayItem.today}">
                            <span ng-if="dayItem.time != 'nulled' && !dayItem.value.length" class="fc-date">{{dayItem.time | date : "d"}}</span>
                            <span ng-if="dayItem.time != 'nulled && !dayItem.value.length'" class="fc-weekday">{{returnWeekDay($index)}}</span>
                            <post-block ng-if="dayItem.value.length" class="post-wrap" index="$index" item="dayItem"></post-block>

                        </div>

                    </div>

            </div>
        </div>
    </div>
</div>
