<div loading-container="$loading">

    <div class="custom-header clearfix">
        <h2></h2>
        <h3 class="custom-month-year">
            <span id="custom-month" class="custom-month">{{settedDate | date:'MMMM'}}</span>
            <span id="custom-year" class="custom-year">{{settedDate | date:'y'}}</span>
            <nav>
                <span id="custom-prev" class="custom-prev" ng-click="calcDate('add')"></span>
                <span id="custom-next" class="custom-next" ng-click="calcDate('sub')"></span>
                <span id="custom-current" class="custom-current" ng-click="returnCurrent()" title="Got to current date"></span>
            </nav>
        </h3>
    </div>
    <div id="calendar" class="fc-calendar-container">
        <div class="fc-calendar fc-six-rows">
            <div class="fc-head">
                <div>Понедельник</div>
                <div>Вторник</div>
                <div>Среда</div>
                <div>Четверг</div>
                <div>Пятница</div>
                <div>Суббота</div>
                <div>Воскресенье</div>
            </div>
            <div class="fc-body" id="calendarBody">

                    <div ng-repeat="day in daysList" class="fc-row" ng-if="isRow($index)">

                        <div drag-target ng-repeat="dayItem in listSlice($index)" ng-class="{'fc-content':dayItem.value.length}">
                            <span ng-if="dayItem.time != 'nulled' && !dayItem.value.length" class="fc-date">{{dayItem.time | date : "d"}}</span>
                            <span ng-if="dayItem.time != 'nulled && !dayItem.value.length'" class="fc-weekday">{{returnWeekDay($index)}}</span>
                            <post-block ng-if="dayItem.value.length" class="post-wrap" index="$index" item="dayItem"></post-block>

                        </div>

                    </div>



                <!--div class="fc-row">
                    <div></div><div></div><div></div><div></div><div></div><div></div>
                    <div><span class="fc-date">1</span><span class="fc-weekday">Sun</span></div>
                </div>
                <div class="fc-row">
                    <div><span class="fc-date">2</span><span class="fc-weekday">Mon</span></div>
                    <div><span class="fc-date">3</span><span class="fc-weekday">Tue</span></div>
                    <div><span class="fc-date">4</span><span class="fc-weekday">Wed</span></div>
                    <div><span class="fc-date">5</span><span class="fc-weekday">Thu</span></div>
                    <div><span class="fc-date">6</span><span class="fc-weekday">Fri</span></div>
                    <div><span class="fc-date">7</span><span class="fc-weekday">Sat</span></div>
                    <div><span class="fc-date">8</span><span class="fc-weekday">Sun</span></div>
                </div>
                <div class="fc-row">
                    <div><span class="fc-date">9</span><span class="fc-weekday">Mon</span></div>
                    <div class="fc-today"><span class="fc-date">10</span><span class="fc-weekday">Tue</span></div>
                    <div><span class="fc-date">11</span><span class="fc-weekday">Wed</span></div>
                    <div><span class="fc-date">12</span><span class="fc-weekday">Thu</span></div>
                    <div><span class="fc-date">13</span><span class="fc-weekday">Fri</span></div>
                    <div><span class="fc-date">14</span><span class="fc-weekday">Sat</span></div>
                    <div><span class="fc-date">15</span><span class="fc-weekday">Sun</span></div>
                </div>
                <div class="fc-row">
                    <div><span class="fc-date">16</span><span class="fc-weekday">Mon</span></div>
                    <div><span class="fc-date">17</span><span class="fc-weekday">Tue</span></div>
                    <div><span class="fc-date">18</span><span class="fc-weekday">Wed</span></div>
                    <div><span class="fc-date">19</span><span class="fc-weekday">Thu</span></div>
                    <div><span class="fc-date">20</span><span class="fc-weekday">Fri</span></div>
                    <div><span class="fc-date">21</span><span class="fc-weekday">Sat</span></div>
                    <div><span class="fc-date">22</span><span class="fc-weekday">Sun</span></div>
                </div>
                <div class="fc-row">
                    <div><span class="fc-date">23</span><span class="fc-weekday">Mon</span></div>
                    <div><span class="fc-date">24</span><span class="fc-weekday">Tue</span></div>
                    <div><span class="fc-date">25</span><span class="fc-weekday">Wed</span></div>
                    <div><span class="fc-date">26</span><span class="fc-weekday">Thu</span></div>
                    <div><span class="fc-date">27</span><span class="fc-weekday">Fri</span></div>
                    <div><span class="fc-date">28</span><span class="fc-weekday">Sat</span></div>
                    <div><span class="fc-date">29</span><span class="fc-weekday">Sun</span></div>
                </div>
                <div class="fc-row">
                    <div><span class="fc-date">30</span><span class="fc-weekday">Mon</span></div>
                    <div><span class="fc-date">31</span><span class="fc-weekday">Tue</span></div>
                    <div></div>
                    <div></div><div></div><div></div><div></div>
                </div-->
            </div>
        </div>
    </div>
</div>
