
    <div class="aggregate-wrap-header">
        <div>
            <input type="text" class="inputbox" ng-model="target" placeholder="Целевой url"/>
        </div>
        <div>
            <button class="inputbox btn btn-default" ng-click="start(true)">Собрать</button>
            <button class="inputbox btn btn-success" ng-click="next(target, true)" ng-if="containsData">В работу</button>
        </div>
    </div>

    <div class="bp-header">
        <nav>
            <a href="/aggregate/topkeys?target={{target}}" class="bp-icon bp-icon-next" ng-class="{'active': path == '/aggregate/topkeys'}" data-info="TOP запросов"><span>TOP запросов</span></a>
            <a href="/aggregate/concurrents?target={{target}}" class="bp-icon bp-icon-next" ng-class="{'active': path == '/aggregate/concurrents'}" data-info="TOP конкурентов"><span>TOP конкурентов</span></a>
            <a href="/aggregate/requests?target={{target}}" class="bp-icon bp-icon-drop" ng-class="{'active': path == '/aggregate/requests'}" data-info="Запросы конкурентов"><span>Запросы конкурентов</span></a>
            <a href="/aggregate/spectrals?target={{target}}" class="bp-icon bp-icon-archive" ng-class="{'active': path == '/aggregate/spectrals'}" data-info="Спектральные синонимы"><span>Спектральные синонимы</span></a>
        </nav>
    </div>

    <div class="error" ng-repeat="error in errors">
        {{error}}
    </div>

    <div class="info" ng-if="update && containsData === null">
        Запрос поставлен на проверку. Ожидайте...
    </div>

    <div class="warning" ng-if="containsData === false">
        По данному запросу данных не найдено
    </div>
